body{
    padding:0;
    margin:0;
}
.wrap{
    background-color: #eee;
    width:100%;
    height:500px;
    padding-top:100px;
}
.box{
    width:100px;
    height:100px;
    background-color: #cc5d4a;
    border-radius: 60px;
    margin:0 auto;
    text-align: center;
    line-height: 6.3;
    color:#fff;
}